In [1]:
import pandas as pd
import datetime as dt

In [6]:
someday = dt.date(2018,4,14)

In [7]:
someday.year
someday.month
someday.day

14

In [10]:
str(dt.datetime(2018,4,14,8,50,44))

'2018-04-14 08:50:44'

In [18]:
sometime =dt.datetime(2018,4,14,8,50,44)

In [25]:
sometime.day
sometime.month
sometime.year
sometime.hour
sometime.minute

50

In [29]:
pd.Timestamp('2015-1-6')
pd.Timestamp('2015/1/6')
pd.Timestamp('1/6/2015')
pd.Timestamp('12/19/2015')
pd.Timestamp('19/12/2015')

Timestamp('2015-12-19 00:00:00')

In [36]:
dates = ['2015-1-6','2015-5-6','2015-2-2']
dtIndex = pd.DatetimeIndex(dates)

In [37]:
values= [100,200,400]

In [38]:
pd.Series(data = values , index=dtIndex)

2015-01-06    100
2015-05-06    200
2015-02-02    400
dtype: int64

In [5]:
times = pd.date_range(start='2016', end='2018',freq='D')

In [8]:
type(times[0])

pandas._libs.tslib.Timestamp

In [11]:
times = pd.date_range(start='2016', end='2018',freq='w')

In [12]:
times

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21',
               '2016-02-28', '2016-03-06',
               ...
               '2017-10-29', '2017-11-05', '2017-11-12', '2017-11-19',
               '2017-11-26', '2017-12-03', '2017-12-10', '2017-12-17',
               '2017-12-24', '2017-12-31'],
              dtype='datetime64[ns]', length=105, freq='W-SUN')

In [13]:
pd.date_range(start='2016', end='2018',freq='w-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15', '2016-01-22',
               '2016-01-29', '2016-02-05', '2016-02-12', '2016-02-19',
               '2016-02-26', '2016-03-04',
               ...
               '2017-10-27', '2017-11-03', '2017-11-10', '2017-11-17',
               '2017-11-24', '2017-12-01', '2017-12-08', '2017-12-15',
               '2017-12-22', '2017-12-29'],
              dtype='datetime64[ns]', length=105, freq='W-FRI')

In [15]:
pd.date_range(start='2016', end='2018',freq='5H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 05:00:00',
               '2016-01-01 10:00:00', '2016-01-01 15:00:00',
               '2016-01-01 20:00:00', '2016-01-02 01:00:00',
               '2016-01-02 06:00:00', '2016-01-02 11:00:00',
               '2016-01-02 16:00:00', '2016-01-02 21:00:00',
               ...
               '2017-12-29 23:00:00', '2017-12-30 04:00:00',
               '2017-12-30 09:00:00', '2017-12-30 14:00:00',
               '2017-12-30 19:00:00', '2017-12-31 00:00:00',
               '2017-12-31 05:00:00', '2017-12-31 10:00:00',
               '2017-12-31 15:00:00', '2017-12-31 20:00:00'],
              dtype='datetime64[ns]', length=3509, freq='5H')

In [16]:
pd.date_range(start='2016', end='2018',freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [17]:
pd.date_range(start='2016', end='2018',freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [18]:
pd.date_range(start='2014', periods=25)

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06', '2014-01-07', '2014-01-08',
               '2014-01-09', '2014-01-10', '2014-01-11', '2014-01-12',
               '2014-01-13', '2014-01-14', '2014-01-15', '2014-01-16',
               '2014-01-17', '2014-01-18', '2014-01-19', '2014-01-20',
               '2014-01-21', '2014-01-22', '2014-01-23', '2014-01-24',
               '2014-01-25'],
              dtype='datetime64[ns]', freq='D')

In [19]:
bunch_of_dates = pd.date_range(start='2000',end='2016', freq='2D')

In [21]:
a = pd.Series(bunch_of_dates)

In [22]:
a.head()

0   2000-01-01
1   2000-01-03
2   2000-01-05
3   2000-01-07
4   2000-01-09
dtype: datetime64[ns]

In [23]:
a.dt.day

0        1
1        3
2        5
3        7
4        9
5       11
6       13
7       15
8       17
9       19
10      21
11      23
12      25
13      27
14      29
15      31
16       2
17       4
18       6
19       8
20      10
21      12
22      14
23      16
24      18
25      20
26      22
27      24
28      26
29      28
        ..
2893     4
2894     6
2895     8
2896    10
2897    12
2898    14
2899    16
2900    18
2901    20
2902    22
2903    24
2904    26
2905    28
2906    30
2907     2
2908     4
2909     6
2910     8
2911    10
2912    12
2913    14
2914    16
2915    18
2916    20
2917    22
2918    24
2919    26
2920    28
2921    30
2922     1
Length: 2923, dtype: int64

In [24]:
a.dt.weekday_name

0        Saturday
1          Monday
2       Wednesday
3          Friday
4          Sunday
5         Tuesday
6        Thursday
7        Saturday
8          Monday
9       Wednesday
10         Friday
11         Sunday
12        Tuesday
13       Thursday
14       Saturday
15         Monday
16      Wednesday
17         Friday
18         Sunday
19        Tuesday
20       Thursday
21       Saturday
22         Monday
23      Wednesday
24         Friday
25         Sunday
26        Tuesday
27       Thursday
28       Saturday
29         Monday
          ...
2893    Wednesday
2894       Friday
2895       Sunday
2896      Tuesday
2897     Thursday
2898     Saturday
2899       Monday
2900    Wednesday
2901       Friday
2902       Sunday
2903      Tuesday
2904     Thursday
2905     Saturday
2906       Monday
2907    Wednesday
2908       Friday
2909       Sunday
2910      Tuesday
2911     Thursday
2912     Saturday
2913       Monday
2914    Wednesday
2915       Friday
2916       Sunday
2917      Tuesday
2918     Thursday
2919     Saturday
2920       Monday
2921    Wednesday
2922       Friday
Length: 2923, dtype: object